{% extends "index.html" %}
{% block html %}{{super()}}{% endblock %}
{% block title %}Home{% endblock %}
{% block rightBar %}
    <a class="upperRightOption" href="{{url_for('wpHome')}}">Home</a>
    <a class="upperRightOption" href="{{url_for('wpLogIn')}}">Log in</a>
{% endblock %}
{% block main %}
    <div class="logInSignUp">
        <h2>Sign up</h2>
        <form id="signUp" method="POST" action="{{url_for('wpSignUp')}}">
            {{ wtfSignUp.csrf_token }}
            {{ wtfSignUp.firstName.label }}
            {{ wtfSignUp.firstName }}
            {% for error in wtfSignUp.firstName.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
            {{ wtfSignUp.lastName.label }}
            {{ wtfSignUp.lastName }}
            {% for error in wtfSignUp.lastName.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
            {{ wtfSignUp.email.label }}
            {{ wtfSignUp.email }}
            {% for error in wtfSignUp.email.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
            {{ wtfSignUp.username.label }}
            {{ wtfSignUp.username }}
            {% for error in wtfSignUp.username.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
            {{ wtfSignUp.password.label }}
            {{ wtfSignUp.password }}
            {% for error in wtfSignUp.password.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
            {{ wtfSignUp.submit }}
        </form>
        <a href="{{url_for('wpLogIn')}}">Do you already have an account?</a>
    </div>
{% endblock %}