*
{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
    color: white;
    letter-spacing: 0.5px;
    font-weight: 500;
}
body
{    
    
    background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.3) 100%), url(/static/img/home.jpg);width: 95% no-repeat center center fixed;
   background-size: cover;
   -moz-background-size: cover;
   -webkit-background-size: cover;
   -o-background-size: cover;
    overflow: hidden;
}
.sideBar
{
    
    height: 100vh;
    width: 250px;
    background-color: #082542;
    /* background-color:rgb(19, 175, 180); */
    float: left;
}

.sideBar a
{
    display: block;
    color: white;
    padding: 10px 0px 10px 5px;
}
.sideBar a:hover
{
    background-color: #165da465;
    cursor: pointer;
}

h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 20px 0px 5px 0;
    
    color:#165CA4;

}

@media screen and (max-width: 700px) {
    .sideBar{
        width: 50px;
    }
    .title{
        display: none;
    }
}
i
{
    width: 40px;
}
.content
{
    height: 100vh;
    overflow: auto;
    padding: 10px;
    color: rgb(142, 5, 194);
}
.info
{
    color: rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    border: 3px solid #165CA4;
    /* border-color: #165CA4;   */
    display: grid;
    gap:11px;
    grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
}
.box
{
    width: 98.4%;
    font-size: 11px;
    font-style: italic;
}

.boton
{
    color: rgb(255, 255, 255);
    /* backdrop-filter: blur(20px);
    border: 3px solid #165CA4; */
    /* border-color: #165CA4;   */
    display: flex;    
    justify-content: center; 
    gap:11px;
    grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
}

button
{   
      
    padding: 10px ;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
button:hover 
{
    background-color: #165CA4;
    box-shadow: 0px 15px 20px rgba(16, 19, 65, 0.589);
    color: #fff;
    transform: translateY(-7px);
   }
   
button:active 
{
    transform: translateY(-1px);
   }

/* PATIENT - SCHEDULE */
.logo
{
    margin: 10px 20px 15px 20px;
    height: 90px;
    width: 220px;
    /* border:3px solid rgb(194, 5, 5); */
    /* border-radius: 50%; */
}


/* PATIENT - MY APPOINTMENTS */