@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{   
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
    color: white;
    letter-spacing: 0.5px;
    font-weight: 500;
}

body
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    height: 100%;
    background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.3) 0%,
     rgba(0, 0, 0, 0.3) 100%), url(/static/img/home.jpg);width: 95% no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover
}

.navBar
{
    height: 80px;    
    background-color: #003d6675;
    padding: 10px 10px 10px 10px;
}

.logo
{
    border: none;    
    /* border-radius: 50%; */
    float: left;
     height: 80px;
    width: 190px;
    /*
    background-color: white;
    float: left;
    border-radius: 50%; */
}

.rightBar
{
    display: flex;
    justify-content:space-between;
    height: 80px;   
    float:right;
    display: flex;
    align-items: center;
}

.upperRightOption
{      
    padding: 1.2em 4em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}
.upperRightOption:hover 
{
    background-color: #165CA4;
    box-shadow: 0px 15px 20px rgba(214, 215, 228, 0.4);
    color: #fff;
    transform: translateY(-7px);
   }
   
.upperRightOption:active 
{
    transform: translateY(-1px);
   }


.main
{
    height: -moz-calc(100.5vh - 200px); /* Firefox */
    height: -webkit-calc(100vh - 200px); /* Chrome, Safari */
    height: calc(100vh - 200px); /* IE9+ and future browsers */
    /* background-color: black; */
    display: grid;
    grid-template-columns: 20% 20% 20% ;
    grid-template-rows: 10% 10% 10% ;
    align-items: center;
    justify-content: center;
}

.logInSignUp
{
    /* border: 1px solid rgb(142, 5, 194); */
    grid-column: 2/ 2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content:space-between;
    width:100%;
    height: 25em;
    backdrop-filter: blur(20px); /* efecto transparente*/
    box-shadow: 0 10px 20px 5px rgba(255, 255, 255, 0.2);
    margin: auto;
    border-style:outset;
    border-radius: 25px;
    border-color: #165CA4;    
    padding: 5px; 
}

#signUp{
    height: 250px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

label{
    text-align: center;
    font-size: 12px;    
    /* margin-bottom: -5px; */
    text-shadow: 1px 1px 0 #165CA4, 1px 1px 0 #3d3c3c;;
}

input
{
    color: black;
    width: 98.4%;
    margin-bottom: 10px;

}

#submit
{     
    margin-top: 20px; 
    padding: 1.2em 4em;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #165CA4;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}
#submit:hover 
{
    background-color: #fff;
    box-shadow: 0px 15px 20px rgba(214, 215, 228, 0.4);
    color: #000;
    transform: translateY(-7px);
   }
   
#submit:active 
{
    transform: translateY(-1px);
   }

   h2{
    text-transform: uppercase;
    /* font-weight: bold; */   
    padding: 20px 0px 5px 0;    
    font-size: 30px;
    color: #FFF;
    margin: 0 auto;
    margin-bottom: -30px;
    text-align: center;
    font-weight: 700;    
    text-shadow: 2px 1px 0 #165CA4, 2px 2px 0 #3d3c3c;;
    letter-spacing: 2px;
}

.control {
    /* display: flex; */
    align-items: center;
    line-height: 30px;
    /* border: 1px solid rgb(61,99,172); */
    width: 100%;
    list-style: none;
}

.footer
{
    height: 100px;
    background-color: #003d6675;
    bottom: 0;
}

