{% extends "index.html" %}
{% block html %}{{super()}}{% endblock %}
{% block title %}Home{% endblock %}
{% block rightBar %}    
    <a class="upperRightOption" href="{{url_for('wpHome')}}">Home</a>
    <a class="upperRightOption" href="{{url_for('wpSignUp')}}">Sign up</a>
{% endblock %}
{% block main %}
    <div class="logInSignUp">
        <h2>Log in</h2>
        <form id="logIn" method="POST" action="{{url_for('wpLogIn')}}">
            {{ form.csrf_token }}
            {{ form.user (class="users") }}
            {% for error in form.user.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
            {{ form.username.label }}
            {{ form.username }}
            {% for error in form.username.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
            {{ form.password.label }}
            {{ form.password }}
            {% for error in form.password.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
            {{ form.submit }}
        </form>
        <a class="msj" href="{{url_for('wpResetPassword')}}">Forgot password?</a>
        <br>
        <a class="msj" href="{{url_for('wpSignUp')}}">You do not have an account?</a>
    </div>
{% endblock %}