{% extends "index.html" %}
{% block html %}{{super()}}{% endblock %}
{% block title %}Home{% endblock %}
{% block rightBar %}
    <a class="upperRightOption" href="{{url_for('wpHome')}}">Home</a>
    <a class="upperRightOption" href="{{url_for('wpLogIn')}}">Log in</a>
    <a class="upperRightOption" href="{{url_for('wpSignUp')}}">Sign up</a>
{% endblock %}
{% block main %}
<div class="logInSignUp">
    <h2>Reset password</h2>
    <p>What type of user are you?</p>
    <form id="sendPassword" method="POST" action="{{url_for('wpResetPassword')}}">
        {{ form.csrf_token }}
        {{ form.user (class="control")}}
        {% for error in form.user.errors %}
            <p style="color: red;">{{ error }}</p>
        {% endfor %}
        {{ form.email }}
        {% for error in form.email.errors %}
            <p style="color: red;">{{ error }}</p>
        {% endfor %}
        {{ form.submit }}
        <p>Please check your email address. If you did not receive a 4-digit code click again on Send Code resubmit a new one.</p>
    </form>
    <form id="resetPassword" method="POST" action="">
        {{ wtfResetPassword.csrf_token }}
        <label>Enter code</label><br>
        {{ wtfResetPassword.code }}
        {% for error in wtfResetPassword.code.errors %}
            <p style="color: red;">{{ error }}</p>
        {% endfor %}

        {{ wtfResetPassword .submit }}
    </form>
</div>
{% endblock %}