{% extends "index.html" %}
{% block html %}{{super()}}{% endblock %}
{% block title %}Home{% endblock %}
{% block rightBar %}
    <a class="upperRightOption" href="{{url_for('wpHome')}}">Home</a>
    <a class="upperRightOption" href="{{url_for('wpLogIn')}}">Log in</a>
{% endblock %}
{% block main %}
    <div class="logInSignUp">
        <h2>Sign up</h2>
        <form id="signUp" method="POST" action="{{url_for('wpSignUp')}}">
            {{ form.csrf_token }}
            {{ form.firstName.label }}
            {{ form.firstName }}
            {% for error in form.firstName.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
            {{ form.lastName.label }}
            {{ form.lastName }}
            {% for error in form.lastName.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
            {{ form.email.label }}
            {{ form.email }}
            {% for error in form.email.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
            {{ form.username.label }}
            {{ form.username }}
            {% for error in form.username.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
            {{ form.password.label }}
            {{ form.password }}
            {% for error in form.password.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
            {{ form.submit }}
        </form>
        <a href="{{url_for('wpLogIn')}}">Do you already have an account?</a>
    </div>
{% endblock %}